html {
  scroll-behavior: smooth;
}
.homepage {
  @apply bg-dark_blue;
}

.globe-container {
  position: relative;
  height: 100vh;
  .globe-canvas {
    max-height: 65vh;
    overflow: visible !important;
  }
  @media only screen and (min-width: 992px) {
    max-height: 100vh;
    .globe-canvas {
      overflow: hidden !important;
      max-height: 100%;
     
    }
  }
  // over write inline style Html React Three/drei
  .globe-title>div{
    bottom: -52vh;
    top: -200px !important;
      left: 0 !important;
      top: auto !important;
    @include breakpoint ($lg){
      bottom: 0;
    }
   
  }
  canvas {
    position: relative;
    z-index: 5;
    margin: 0 auto;
  }
}

.main-content  {
  @include breakpoint ($lg){
    min-height: 600px;
  }
}

.hoz-icon {
  p {
    line-height: 16px;
  }
}

.read-more {
  position: relative;
  padding-right: 20px;
  color: white;
  display: inline-block;
  font-family: gotham-bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
  height: 30px;
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: calc(50% - 5px);
    width: 9px;
    height: 9px;
    background-image: url("../images/fw-green.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    @include breakpoint($lg) {
      bottom: calc(50% - 7px);
    }
  }
}

.shadow-fls {
  box-shadow: 0 0 9px 4px hsl(0deg 0% 100% / 75%);
}

.shadow-fls--hover {
  &:hover {
    box-shadow: 0 0 9px 4px hsl(0deg 0% 100% / 75%);
    transition: box-shadow 0.3s ease;
  }
}

.bg-pulse {
  animation: pulse 1.2s ease infinite;
  background: #47b868;
}

.card_director {
  box-shadow: 0px 0px 9px 4px rgb(255 255 255 / 75%);
  background-color: rgba(255, 255, 255, 0.8);
}

.line-pulser {
  @include breakpoint($lg) {
    transform: translateX(calc(100%));
    animation: slide-in 0.5s forwards;
    -webkit-animation: 4s slide-in 3.5s forwards;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

.solid-line__white {
  z-index: 1;
  position: relative;
  span {
    @apply bg-dark_blue;
    padding: 0 15px 0 0;
  }
  &:after {
    border-top: 2px solid white;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }
}

.solid-line__green {
  z-index: 1;
  position: relative;
  span {
    @apply bg-dark_blue;
    padding: 0 15px 0 0;
  }
  &:after {
    border-top: 2px solid #47b868;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
