@import "../../styles/breakpoint.scss";

.svg-circle-dash {
  fill: none;
  width: 500px;
  height: 500px;
  stroke: #9b9b9b;
  stroke-width: 2;
  stroke-dasharray: 22.68px;
  stroke-dashoffset: 10px;
  stroke-linecap: round;
  animation: circleAn 1200ms linear infinite;
  transition: ease 450ms;
  transform: translateX(60px) translateY(-20px) scaleX(-1);
  .svg-circle {
    transform: scale(0.55);
  }
}
@media screen and (min-width: 1024px) {
  .svg-circle-dash {
    transform: translateX(60px) translateY(-200px);
    .svg-circle {
      transform: scale(1);
    }
  }
}
#svg-circle-line {
  fill: none;
  width: 120px;
  height: 120px;
  stroke: #ffffff26;
  stroke-width: 2;
  stroke-dashoffset: 10px;
  stroke-linecap: round;
  animation: circleScale 1200ms linear infinite;
  transition: ease 450ms;
  transform: scale(0.5);
}
#circle-arrow {
  position: absolute;
  left: 140px;
  bottom: 0;
  width: 52px;
  height: 50px;
  fill: #ffffff70;
  animation: spin 3000ms linear infinite;
}
@media screen and (min-width: 1024px) {
  #circle-arrow {
    width: 115px;
    height: 100px;
    left: 200px;
    bottom: -2.4rem;
  }
}

@keyframes circleAn {
  to {
    stroke-dashoffset: 100px;
  }
}

@keyframes circleScale {
  to {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
